<mat-drawer-container class="sidenav-container">
    <mat-drawer #sidenav mode="side" [opened]="router.url.split('/')[3] == 'create'? false : true">
        <a mat-button color="primary" [routerLink]="['course-assessment']" [ngClass]="{'active': routeName == 'course-assessment'}">{{resourceService?.frmelmnts?.adminPortal?.courseAndAssessment}}</a>
        <a mat-button color="primary" [routerLink]="['roles-access']" [ngClass]="{'active': routeName == 'roles-access'}">{{resourceService?.frmelmnts?.adminPortal?.rolesAndAccess}}</a>
        <a mat-button color="primary" [routerLink]="['competencies']" [ngClass]="{'active': routeName == 'competencies'}">{{resourceService?.frmelmnts?.adminPortal?.competencies}}</a>
        <a mat-button color="primary" [routerLink]="['custom-notification']" [ngClass]="{'active': routeName == 'custom-notification'}">{{resourceService?.frmelmnts?.adminPortal?.notifications}}</a>
    </mat-drawer>
    <mat-drawer-content class="side-content">
        <compass-breadcrumb [data]="breadCrumbData"></compass-breadcrumb>
        <div class="ui container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
  