<header class="banner">
        <div class="container ui">
                <img src="./assets/images/banner-svg/net-banner.png" />
        </div>
</header>
<div class="container ui network-lib">
        <aside class="network-lib__side-content">
                <a routerLink="/network-hub/home" [routerLinkActive]="['active']">{{resourceService?.frmelmnts?.networkHub?.home}}</a>
                <a routerLink="/network-hub/your-connection" [routerLinkActive]="['active']">{{resourceService?.frmelmnts?.networkHub?.connections}}</a>
                <a routerLink="/network-hub/connection-requst" [routerLinkActive]="['active']">{{resourceService?.frmelmnts?.networkHub?.requests}}</a>
                <a routerLink="/network-hub/recommended-connection" [routerLinkActive]="['active']">{{resourceService?.frmelmnts?.networkHub?.recommended}}</a>
             
        </aside>
        <section class="network-lib__main-content">
      
        <router-outlet></router-outlet>
        </section>
</div>
