
<compass-breadcrumb [data]="breadCrumbData"></compass-breadcrumb>

<div class="ui container grid mt-4rem">
    <div class="sb-pageSection-header mb-10">
        <h4 class="sb-pageSection-title mb-10 mr-5 heading" *ngIf="activatedRoute.snapshot.queryParams.learnings">
            {{resourceService.frmelmnts.scttl.learning}}
        </h4>
        <h4 class="sb-pageSection-title mb-10 mr-5" *ngIf="activatedRoute.snapshot.queryParams.competency">
            {{resourceService.frmelmnts?.lbl?.showingResults | translate}}
            "{{selectedCompetency}}"
        </h4>
        <h4 class="sb-pageSection-title mb-10 mr-5" *ngIf="activatedRoute.snapshot.queryParams.keyword">
            {{resourceService.frmelmnts?.lbl?.showingResults | translate}}
            "{{activatedRoute.snapshot.queryParams.keyword ??
            activatedRoute.snapshot.queryParams.keyword[0].toUpperCase() +
            activatedRoute.snapshot.queryParams.keyword.slice(1)}}"
        </h4>
        <h4 class="sb-pageSection-title mb-10 mr-5" *ngIf="activatedRoute.snapshot.queryParams.key">
            {{resourceService.frmelmnts?.lbl?.showingResults | translate}}
            "{{activatedRoute.snapshot.queryParams.key}}"
        </h4>
    </div>
</div>

<div class="container ui grid stackable">
    <div class="nine wide column courses">
        <div class="ui grid stackable search-container"
            infiniteScroll
            [infiniteScrollDistance]="0"
            [infiniteScrollThrottle]="500"
            [infiniteScrollDisabled]="scrollCheck"
            [scrollWindow]="true"
            (scrolled)="onScroll()"
            (scrolledUp)="scrolledUp()">
            <div class="four wide column" *ngFor="let course of courses">
                <compass-course-card (click)="courseCardClicked(course)" [data]="course" (favoriteIconClicked)="favoriteIconClicked($event, course['identifier'] || course['contentId'])">
                </compass-course-card>
            </div>
        </div>
    </div>
    <div class="filterContainer three wide column">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class="filter">
                    <!-- <h3 class="top-heading">{{resourceService?.frmelmnts?.lbl?.filterby}}</h3> -->
                    <div class="filter-header">
                        <h3 class="top-heading">{{resourceService?.frmelmnts?.lbl?.filterby}}</h3>
                        <div class="clear-filters-text" (click)="clearFilters()" color="primary">
                            Clear Filter
                        </div>
                    </div>
                    <h5 class="sub-heading">{{resourceService?.frmelmnts?.lbl?.type}}</h5>
                    <mat-list>
                        <mat-list-item>
                            <mat-checkbox [name]="'assessment'" checked="primaryCategories.indexOf('assessment') != -1"
                            (change)="updateCoursesType($event)">
                            {{resourceService?.frmelmnts?.lbl?.assessments}}
                            </mat-checkbox>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-checkbox [name]="'course'" checked="primaryCategories.indexOf('course') != -1"
                            (change)="updateCoursesType($event)">
                            {{resourceService?.frmelmnts?.lbl?.courses}}
                            </mat-checkbox>
                        </mat-list-item>
                    </mat-list>

                    <h5 class="sub-heading">{{resourceService?.frmelmnts?.lbl?.recent}}</h5>
                    <div class="star-rated">
                        <mat-list>
                           <mat-list-item> 
                               <mat-checkbox  [(ngModel)]="recentlyPublished" (ngModelChange)="recentlyAddCourses()">
                                {{resourceService?.frmelmnts?.lbl?.recentlyAdded}}
                             </mat-checkbox>
                           </mat-list-item>
                         </mat-list>
                   </div>
                <div class="rating-header">
                    <h5 class="sub-heading">{{resourceService?.frmelmnts?.lbl?.rating}}</h5>
                    <div *ngIf="selectedRate.length !== 0">
                        {{selectedRate}} & Up
                    </div>
                </div>
                    <!-- <div class="star-rated">
                        <mat-list>
                           <mat-list-item *ngFor="let star of startRates"> 
                               <mat-checkbox [(ngModel)]="star.selected"
                                          (ngModelChange)="updateAllSelected()">
                               <mat-icon *ngFor="let s of getRatingText(star.label)" color="primary">star</mat-icon>
                             </mat-checkbox>
                           </mat-list-item>
                         </mat-list>
                   </div> -->
                   <div class="star-rating">
                    <mat-list>
                      <mat-radio-group [(ngModel)]="selectedRate">
                        <mat-list-item *ngFor="let star of startRates">
                            <div class="d-flex">
                               
                                  <div> <mat-radio-button [value]="star.label" (click)="updateSelectedRate(star.label)">
                                    <ng-container *ngFor="let s of getRatingText(star.label)">
                                      <mat-icon [color]="s.type === 'full' ? 'primary' : 'teritiary' ">{{s.icon}}</mat-icon>
                                    </ng-container>
                                  </mat-radio-button></div>
                            </div>   
                        </mat-list-item>
                      </mat-radio-group>
                    </mat-list>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
